* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100vw;
  overflow: hidden;
}
.navbar {
  background-color: #f1f3ff;
  color: #000000;
}

.nav-link {
  color: #000000;
}
.sticky-top {
  position: sticky;
}
.navbar-brand .logo_brand img {
  width: 8vw;
}

.btn {
  position: relative;
  border: none;
  transition: 0.4s ease-in;
  z-index: 1;
}
.btn:hover {
  background: #d6ec08;
  box-shadow: 0 0 5px #d6ec08, 0 0 25px #d6ec08, 0 0 50px #d6ec08,
    0 0 200px #d6ec08;
}

.hero {
  background-color: #f1f3ff;
  height: 65vh;
}
h1.hero-h1 {
  font-weight: 700;
  color: #000000;
  font-size: 36px;
}

img.services {
  position: relative;
}
.h2-services {
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
}
.p-services {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
.direction {
  display: flex;
}
.list-services {
  display: inline-flex;
  margin: auto;
}
.list-services .p-services {
  padding-left: 10px;
  padding-top: 20px;
}

.text-why h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
}

.card-deck {
  display: flex;
  flex-direction: row;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
}
.card-text {
  font-weight: 300;
  font-size: 14px;
}
.text-testimoni h2 {
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.text-testimoni p {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
.owl-carousel .item .row {
  background: #f1f3ff;
  height: 270px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.owl-carousel .item {
  display: block;
  margin: auto;
}
.star {
  display: flex;
  flex-direction: row;
  width: 64px;
  padding-bottom: 16px;
}

.container.sewa_container {
  background-color: #0d28a6;
  border-radius: 15px;
  justify-content: center;
}
.sewa_mobil h1 {
  font-weight: 700;
  text-align: center;
  color: white;
}
.sewa_mobil p {
  text-align: center;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
}
h2.h2-faq {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.accordion {
  padding-bottom: 1rem;
}
footer .p-footer a {
  text-decoration: none;
  color: #000000;
}
footer .logo_brand img {
  width: 8vw;
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  img.img_car {
    margin-top: 25px;
    width: 100%;
  }
  img.services {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
  }
  .item img.foto-testi {
    display: block;
    margin: auto;
    justify-content: center;
  }
  .owl-carousel .item .row .foto-testi {
    display: block;
    margin: auto;
    width: 84px;
  }
  .owl-carousel .item .row .star,
  .owl-carousel .item .row p {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    text-align: justify;
    padding-bottom: 10px;
  }
  .sewa_mobil p {
    text-align: justify;
  }
  .row .row_copy {
    padding-top: 25px;
  }
}
